<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Requirements
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-3">Description</th>
              <th class="col-md-4">Note</th>
              <th class="col-md-4">Proof</th>
            </tr>
          </thead>
          <% @requirements.each do |requirement| %>
          <tbody>
            <tr>
              <td data-role="requirement">
                <%= requirement.name %>
              </td>
              <td>
                <%= requirement.description %>
              </td>
              <td>

              </td>
              <td>
                <div>
                  <%= link_to "Attach proof",
                      new_requirement_proof_path(requirement, @proof),
                      class: "btn btn-success btn-xs" %>
                </div>
                <div>
                  <img class="pull-left" src="<%= requirement.proof.image_url if requirement.proof %>">
                </div>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
