<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">
        PCI Compliance. Simplified.
      </h1>
      <p class="lead text-center">
        A workflow tool offering an easy checklist to track compliance requirements and speed up achievement of PCI Compliance.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= image_tag "report.png" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        What does it do?
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-check fa-5x" style="color: #47a447;"></i>
          </div>
          <h4 class="text-center">
            Compliance Checklist
          </h4>
          <p>
            Our tool simplifies the compliance process by walking the merchant step-by-step through the PCI checklist.
          </p>
          <p>
            With an easy check-off process, it's easy to understand areas needing action and requirements to address.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-tag fa-5x" style="color: #3276b1;"></i>
          </div>
          <h4 class="text-center">
            Evidence Retention
          </h4>
          <p>
            Safely upload notes and screenshots showing how you meet compliance requirements.
          </p>
          <p>
            Securely share your updates and current progress with your QSA for a final compliance report.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-clock-o fa-5x" style="color: #d2322d;"></i>
          </div>
          <h4 class="text-center">
            Periodic Reminders
          </h4>
          <p>
            Our system will automatically detect and notify you by email and SMS before a requirement deadline.
          </p>
          <p>
            We take care of the hassle of having to remember periodic mandated assessments of your security.
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center">
        What are you waiting for?
      </h3>
      <p class="text-center">
        Managing the PCI compliance process normally costs thousands of dollars a year.
      </p>
      <p class="text-center">
        We reduce that cost to just <b>$95/month</b>!
      </p>
      <%= link_to 'Free 14-day trial, no credit card required. Get started for free!', signin_path, class: "btn btn-embossed btn-block btn-hg btn-primary" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <h2>
        What is PCI?
      </h2>
    </div>
    <div class="col-md-8">
      <p>
        PCI DSS was developed to encourage and enhance data security and facilitate the broad adoption of consistent data security measures globally. Its an information security standard for organizations that handle cardholder information for the major debit, credit, prepaid, e-purse, ATM, and POS cards.
      </p>
      <p>
        PCI DSS provides a framework for developing a security process that includes prevention, detection, and reaction to security incidents. A Qualified Security Assessor (QSA) verifies a merchant's compliance with PCI by creating a Report on Compliance (ROC) that validates compliance requirements have been completed.
      </p>
    </div>
  </div>

  <div class="github-fork-ribbon-wrapper right-bottom">
      <div class="github-fork-ribbon">
          <a href="https://github.com/akshatpradhan/compliance_chimp/issues?state=open">Open sourced</a>
      </div>
  </div>

</div>
