<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">
        PCI Compliance. Simplified.
      </h1>
      <p class="lead text-center">
        A workflow tool offering an easy-to-follow process for tracking PCI security gaps and speeding up achievement of PCI Compliance.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= image_tag "report.png" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        What does it do?
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-check fa-5x" style="color: #47a447;"></i>
          </div>
          <h4 class="text-center">
            Compliance Checklist
          </h4>
          <p>
            Our tool provides a straightforward checklist of PCI requirements you need to complete to become PCI compliant.
          </p>
          <p>
            Simply start addressing each requirement individually and track your progress directly from your smartphone.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-clock-o fa-5x" style="color: #d2322d;"></i>
          </div>
          <h4 class="text-center">
            Periodic Reminders
          </h4>
          <p>
            PCI mandates periodic assessments of your environment. We take care of the hassle of having to remember when and what security requirements to update.
          </p>
          <p>
            Our system will automatically detect and notify you by email and SMS 15 days before a requirement deadline.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-exchange fa-5x" style="color: #3276b1;"></i>
          </div>
          <h4 class="text-center">
            Secure Sharing
          </h4>
          <p>
            Securely share your current progress and streamline the communication with your <abbr title="Qualified Security Assessor">QSA</abbr>.
          </p>
          <p>
            Generate a self-assessment report for you or your auditor, and once the audit is complete, get your final <abbr title="Report on Compliance">RoC</abbr> for your company.
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center">
        What are you waiting for?
      </h3>
      <p class="text-center">
        Managing the PCI compliance process normally costs thousands of dollars a year, but we reduce that cost to just <b>$95/month</b>.
      </p>
      <%= link_to 'Free 14-day trial, no credit card required. Get started for free!', signin_path, class: "btn btn-embossed btn-block btn-hg btn-primary" %>
    </div>
  </div>
</div>
