<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Compliance chimp
        <br>
        <small>
          A workflow tool to manage PCI Compliance easily
        </small>
      </h1>
    </div>
    <div class="col-md-6">
      <%= image_tag "report.png" %>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <p class="lead">
        Ready to wrangle PCI? Great! Attach a screenshot and be reminded to update requirements! Then share completed requirements with a security assessor. That's the entire process to obtaining PCI Security compliance!</a>
      </p>
      <hr>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center text-muted">
        Try out the app by logging in above or
      </h3>
      <%= mail_to 'akshat.ip@gmail.com',
            'Send an email with your critical feedback!',
            subject: 'I have a PCI Complaint!',
            class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <h2>what makes our app stand out</h2>
    </div>
    <div class="col-md-8">
      <div class="media">
        <div class="pull-left">
          <img src="http://placehold.it/128x128", class: "img-polaroid">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Tracker</h4>
          Track and update your compliance progress directly from your phone. No need to come up with checklist mumbo jumbo or deal with expensive compliance services! All requirements are already prepared for you.
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <img src="http://placehold.it/128x128", class: "img-polaroid">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Reminders</h4>
          We know that staying updated with compliance is important to you. If a deadline has passed, our system will detect and notify you with scheduled reminders (e.g. quarterly vulnerability scan).
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <img src="http://placehold.it/128x128", class: "img-polaroid">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Sharing</h4>
          Securely share your progress with a QSA. Generate a self-assessment report for you or your QSA, and after an audit, they’ll create a Report of Compliance for your company. Just mark as complete when you’re ready.
        </div>
      </div>
    </div>
  </div>
</div>
