<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>About</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="https://avatars1.githubusercontent.com/u/331004?s=165">
    </div>
    <div class="col-md-10">
      <p>
        <a href="https://www.linkedin.com/in/akshatpradhan">Akshat Pradhan</a> is the founder of Compliance chimp. Akshat has previously served as CTO of Greenbean Recycle as well as held engineering roles at places like VeriSign. He's a physics alum of Clark University and is organizer of UX Boston, a large group discussing user experience and design. He is also the founder of the largest cyber security group, Boston Security Meetup, another group discussing cyber security and platform architecture.
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-2">
      <img src="https://avatars1.githubusercontent.com/u/81559?s=165">
    </div>
    <div class="col-md-10">
      <p>
        <a href="https://fr.linkedin.com/pub/andrea-d-amico/2/350/217">Andrea D’Amico</a> is a founding team member of Compliance chimp. Andrea is a Medical Doctor in the Toxicology domain and a self-taught web developer with ten years of experience in Ruby on Rails. He has single-handedly built websites for non profit organizations such as the European Network of Teratology Information Services and the Immunotoxicology Society Summer School.
      </p>
    </div>
  </div>

</div>
