<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3>FAQ</h3>
      <h4>Apologies!</h4>
      <p>This section hasn't been filled out yet. Its on our todo list. Please do submit <a href="https://github.com/akshatpradhan/compliance_chimp/issues?state=open">Github issues</a> if you would like priority on particular bugs!</p>
    </div>
  </div>
</div>
