<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@proof) do |form| %>
      <div>
        <%= form.label :image_url %>
        <%= form.text_field :image_url %>
        <%= form.submit 'Submit' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
