<h1>Editing proof for Requirement <%= @proof.requirement_name %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render "form", proof: @proof %>
    </div>
  </div>
</div>

<%= render 'current_proof_image', requirement: @proof.requirement, placeholder: true %>
