<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="bottom-links">
          <li class="text-inverse">
            <%= link_to 'About', page_path('about') %>
          </li>
          <li>
            <%= link_to 'FAQ', page_path('faq') %>
          </li>
          <li>
            <%= link_to 'Find a QSA', page_path('find-a-qsa') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
