<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li data-role="current-user">
    <%= link_to "How's it going, #{current_user.name}", requirements_path %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', signout_path %></li>
<% else %>
  <li><%= link_to 'login/register', signin_path %></li>
<% end %>
